<% form_for(@property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.check_box :favorite %> 
    <%= f.label :favorite, "Favorite?" %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :bedrooms %><br />
    <%= f.text_field :bedrooms %>
  </p>
  <p>
    <%= f.label :bathrooms %><br />
    <%= f.text_field :bathrooms %>
  </p>
  <p>
    <%= f.label :property_type_id, "Property type" %>
    <%= f.collection_select(:property_type_id, @property_types, :id, :name, {:prompt => true}) %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :listing_url %><br />
    <%= f.text_field :listing_url %>
  </p>

  <% f.fields_for :photos do |photo| %>
    <p>
      <%= photo.label :url, "Photo url" %>
      <%= photo.text_field :url %>
    </p>

    <p>
      <%= photo.label :caption, "Photo caption" %>
      <%= photo.text_field :caption %>      
    </p>
    
    <p>
      <%= photo.check_box :_destroy %>
      <%= photo.label :_destroy, "Remove photo?" %>
    </p>
  <% end %>

  <p>
    <%= f.check_box :archived %> 
    <%= f.label :archived, "Archive?" %>
  </p>

  <p>
    <%= f.submit button_text %>
  </p>
<% end %>
