<table>
  <tr>
    <th>Photo</th>
    <th>Rent</th>
    <th>BR</th>
    <th>BA</th>
    <th>Name/Street</th>
    <th>City</th>
    <th>Type</th>
    <th colspan="2">Actions</th>
  </tr>

<% properties.each do |property| %>
  <tr>
    <td>
      <% if property.photos.count > 0 %>
        <%= 
          link_to(
            image_tag(
              property.photos.first.url, 
              :alt => property.photos.first.caption, 
              :width => 75, 
              :style => "padding:0px"
            ), 
          property) 
        %>
      <% else %>
        <%= link_to 'Show', property %>
      <% end %>
    </td>
    <td><%=h number_to_currency(property.price) %></td>
    <td><%=h property.bedrooms %></td>
    <td><%=h property.bathrooms %></td>
    <td><%= link_to_google_maps(truncate(title_for_property(property)), property) %></td>
    <td><%=h property.city %></td>
    <td><%=h truncate(property.property_type.name) if property.property_type %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
