<h1>Editing property</h1>

<% form_for(@property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :bedrooms %><br />
    <%= f.text_field :bedrooms %>
  </p>
  <p>
    <%= f.label :bathrooms %><br />
    <%= f.text_field :bathrooms %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :listing_url %><br />
    <%= f.text_field :listing_url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>