<h2><%= title_for_property(@property) %></h2>

<p>
  <% @property.photos.each do |photo| %>
    <%= image_tag photo.url, :alt => photo.caption, :width => 300, :style => "padding:5px" %>
  <% end %>
</p>

<% if @property.listing_url %>
  <p>
    <b><a href="<%=h @property.listing_url %>">Original Listing</a></b>
  </p>
<% end %>

<p>
  <b>Price:</b>
  <%=h number_to_currency(@property.price) %>
</p>

<p>
  <b>Bedrooms:</b>
  <%=h @property.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%=h @property.bathrooms %>
</p>

<b>Notes:</b>
<%= markdown(@property.notes) %>

<p>
  <b>Phone:</b> 
  <%=h @property.phone %>
</p>

<p>
  <b>Address:</b>(<%= link_to_google_maps('map', @property) %>)<br/>
  <%=h @property.street %><br/>
  <%=h @property.city %>, <%=h @property.state %>&nbsp;&nbsp;<%=h @property.zip %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
