<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Properties</title>
  <%= stylesheet_link_tag 'boilerplate', 'scaffold', 'application', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'application', :cache => true %>
</head>
<body>

<div id="main">

<h1><a href="/">Properties</a></h1>

<% if current_user %>
<p>Signed in as <%= current_user.email %>. <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
<% else %>
<p><%= link_to "Sign In", new_user_session_path %></p>
<% end %>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
